<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Profile - Winklevoss</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
      <nav> <!-- nav bar - subject to change -->
        <a href="/posts"><p>Posts</p></a>
        <a href="/friends"><p>Friends</p></a>
        <a href="/groups"><p>Groups</p></a>
        <a href="/events"><p>Events</p></a>
        <!-- Messages is not on navbar in mock-up, but subject to change (just here for convenience) -->
        <a href="/messages"><p>Messages</p></a>
    </nav>
      
      <div class="logout">
        <form action="/logout" method="get">
            <p><input type="submit" id="Logout" value="Logout" /></p>
        </form>
      </div>

      <div class="container">
        <h1>Profile</h1>

        <p>This will be my Profile page.</p>

        <img th:src="@{${user.avatar}}" alt="your profile picture" class="avatar">
        <!-- <img th:src="@{${'/img/' + players.id +'_'+ players.name + '.png'}}" width="120"/> -->
        <form action="" method="post">
          <input type="file" name="img">
          <input type="submit" name="save" value="Save">
        </form>
        <p>Change profile picture</p>
        <h2>About me:</h2>
        <ul>
          <li class="profile">Name:</li>
          <li class="profile">Education:</li>
          <li class="profile">Occupation:</li>
          <li class="profile">Location:</li>
        </ul>

      </div>
    </body>
</html>